# ==========================================
# FreshMart 生鲜电商 - Git 忽略规则
# ==========================================

# === Maven ===
target/
!.mvn/wrapper/maven-wrapper.jar
*.jar
*.war
*.ear

# === IDE ===
# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
# .vscode/      还是需要跟踪.vscode/下的两个文件settings.json/launch.json用于调试
*.code-workspace

# Eclipse
.classpath
.project
.settings/
.metadata/

# === Spring Boot ===
*.log
*.log.*

# === 环境变量 & 密钥 ===
*.env
*.env.*
!*.env.example
application-local.yml
application-local.yaml

# === OS ===
.DS_Store
Thumbs.db
*.swp
*.swo
*~
~$*

# === Docker ===
docker-compose/mysql-data/
docker-compose/redis-data/
docker-compose/es-data/
docker-compose/rabbitmq-data/
docker-compose/mongo-data/
docker-compose/nacos-data/

# === 临时文件 ===
temp/
tmp/
*.tmp
*.bak
*.orig


# === 前端文件 ===
yb-front/temp/
yb-front/node_modules/
yb-front/package-lock.json